[submodule "bundle/nerdtree"]
    path=bundle/nerdtree
    url=https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-colors-solarized"]
    path=bundle/vim-colors-solarized
    url=https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-go"]
    path=bundle/vim-go
    url=https://github.com/fatih/vim-go.git
[submodule "bundle/vim-powerline"]
    path=bundle/vim-powerline
    url=https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-autoformat"]
    path=bundle/vim-autoformat
    url=https://github.com/Chiel92/vim-autoformat.git
[submodule "bundle/ultisnips"]
    path=bundle/ultisnips
    url=https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-snippets"]
    path=bundle/vim-snippets
    url=https://github.com/honza/vim-snippets.git
[submodule "cmd-colors-solarized"]
	path = cmd-colors-solarized
	url = https://github.com/neilpa/cmd-colors-solarized.git
